<a href="https://colab.research.google.com/github/gtyellow/GammaRadiationDetection/blob/main/Gamma_Telescope.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np 

from sklearn.model_selection import train_test_split
from sklearn import preprocessing

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from sklearn import model_selection
from sklearn.utils import class_weight
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

from sklearn.utils._testing import ignore_warnings
from sklearn.exceptions import ConvergenceWarning

In [ ]:
cols=['fLength','fWidth','fSize','fConc', 'fConc1', 'fAsym','fM3Long',
      'fM3Trans','fAlpha','fDist', 'class_is_g']

df=pd.read_csv('/content/magic04.data', names=cols)
df.head()

,fLength,fWidth,fSize,fConc,fConc1,fAsym,fM3Long,fM3Trans,fAlpha,fDist,class_is_g
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,g
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,g
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,g
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,g
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,g

In [ ]:
df['class_is_g']= (df['class_is_g']=='g').astype(int)

In [ ]:
#df.to_csv('magic_gamma_telescope.csv')

In [ ]:
X=df.iloc[:,:-1]
X

,fLength,fWidth,fSize,fConc,fConc1,fAsym,fM3Long,fM3Trans,fAlpha,fDist
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620
...,...,...,...,...,...,...,...,...,...,...
19015,21.3846,10.9170,2.6161,0.5857,0.3934,15.2618,11.5245,2.8766,2.4229,106.8258
19016,28.9452,6.7020,2.2672,0.5351,0.2784,37.0816,13.1853,-2.9632,86.7975,247.4560
19017,75.4455,47.5305,3.4483,0.1417,0.0549,-9.3561,41.0562,-9.4662,30.2987,256.5166
19018,120.5135,76.9018,3.9939,0.0944,0.0683,5.8043,-93.5224,-63.8389,84.6874,408.3166
19019,187.1814,53.0014,3.2093,0.2876,0.1539,-167.3125,-168.4558,31.4755,52.7310,272.3174

In [ ]:
#X_scale=preprocessing.normalize(X)

#X= pd.DataFrame(X_scale, columns=X.columns)

X

,fLength,fWidth,fSize,fConc,fConc1,fAsym,fM3Long,fM3Trans,fAlpha,fDist
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620
...,...,...,...,...,...,...,...,...,...,...
19015,21.3846,10.9170,2.6161,0.5857,0.3934,15.2618,11.5245,2.8766,2.4229,106.8258
19016,28.9452,6.7020,2.2672,0.5351,0.2784,37.0816,13.1853,-2.9632,86.7975,247.4560
19017,75.4455,47.5305,3.4483,0.1417,0.0549,-9.3561,41.0562,-9.4662,30.2987,256.5166
19018,120.5135,76.9018,3.9939,0.0944,0.0683,5.8043,-93.5224,-63.8389,84.6874,408.3166
19019,187.1814,53.0014,3.2093,0.2876,0.1539,-167.3125,-168.4558,31.4755,52.7310,272.3174

In [ ]:
y=df.iloc[:,-1]
y

0        1
1        1
2        1
3        1
4        1
        ..
19015    0
19016    0
19017    0
19018    0
19019    0
Name: class_is_g, Length: 19020, dtype: int64

In [ ]:
X_train, X_test, y_train, y_test=train_test_split(X,y, shuffle=True, train_size=.75, random_state=42)

In [ ]:
@ignore_warnings(category=ConvergenceWarning)
def run_exps(X_train: pd.DataFrame , y_train: pd.DataFrame, X_test: pd.DataFrame, y_test: pd.DataFrame) -> pd.DataFrame:
    '''
    Lightweight script to test many models and find winners
    :param X_train: training split
    :param y_train: training target vector
    :param X_test: test split
    :param y_test: test target vector
    :return: DataFrame of predictions
    '''
    
    dfs = []
    models = [
          ('LogReg', LogisticRegression()), 
          ('RF', RandomForestClassifier()),
          ('KNN', KNeighborsClassifier()),
          ('SVM', SVC()), 
          ('GNB', GaussianNB()),
          ('XGB', XGBClassifier())
          ]
    results = []
    names = []
    scoring = ['accuracy', 'precision_weighted', 'recall_weighted', 'f1_weighted', 'roc_auc']
    for name, model in models:
        kfold = model_selection.KFold(n_splits=5, shuffle=True, random_state=90210)
        cv_results = model_selection.cross_validate(model, X_train, y_train, cv=kfold, scoring=scoring)
        clf = model.fit(X_train, y_train)
        y_pred = clf.predict(X_test)
        print(name)
        print(classification_report(y_test, y_pred))
#        results.append(cv_results)
#        names.append(name)
#        this_df = pd.DataFrame(cv_results)
#        this_df['model'] = name
#        dfs.append(this_df)
#    final = pd.concat(dfs, ignore_index=True)
#    return final

In [ ]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(14265, 10)
(14265,)
(4755, 10)
(4755,)

In [ ]:
run_exps(X_train, y_train, X_test, y_test)

LogReg
              precision    recall  f1-score   support

           0       0.74      0.58      0.65      1663
           1       0.80      0.89      0.84      3092

    accuracy                           0.78      4755
   macro avg       0.77      0.74      0.75      4755
weighted avg       0.78      0.78      0.78      4755

RF
              precision    recall  f1-score   support

           0       0.87      0.77      0.82      1663
           1       0.88      0.94      0.91      3092

    accuracy                           0.88      4755
   macro avg       0.88      0.85      0.86      4755
weighted avg       0.88      0.88      0.88      4755

KNN
              precision    recall  f1-score   support

           0       0.82      0.60      0.69      1663
           1       0.81      0.93      0.87      3092

    accuracy                           0.81      4755
   macro avg       0.82      0.76      0.78      4755
weighted avg       0.81      0.81      0.81      4755

SVM
              precision    recall  f1-score   support

           0       0.88      0.59      0.70      1663
           1       0.81      0.96      0.88      3092

    accuracy                           0.83      4755
   macro avg       0.84      0.77      0.79      4755
weighted avg       0.83      0.83      0.82      4755

GNB
              precision    recall  f1-score   support

           0       0.72      0.38      0.49      1663
           1       0.73      0.92      0.82      3092

    accuracy                           0.73      4755
   macro avg       0.73      0.65      0.65      4755
weighted avg       0.73      0.73      0.70      4755

XGB
              precision    recall  f1-score   support

           0       0.87      0.76      0.82      1663
           1       0.88      0.94      0.91      3092

    accuracy                           0.88      4755
   macro avg       0.88      0.85      0.86      4755
weighted avg       0.88      0.88      0.88      4755